#header
{
	background:#EC5578;
	width:100%;
	height:50px;
	color:white;
	font-size:36px;
}
.form-style{   
	font-family: sans;
	width: 600px;
	padding: 30px;
	background: #FFFDD0;
	margin: 50px auto;
}

.form-style h2{ 
	background: #98FB98;
	font-family: sans;
	color: black;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}

.input-group{
	margin: 10px 0px 10px 0px;
 }

.input-group input{ 
	height:30px;
	width: 95%;
	padding: 5px;
	font-size:16px;
	border-radius: 5px;
	border: 1px solid gray;
}

p {
  text-align: center;
  font-size: 30px;
  font-family: Times New Roman;
  color: red;
}

.input-group select{ 
    width: 95%;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    }
	
.btn{  
    padding:10px;
	font-size:15px;
	color:white;
	background: orange;
	border-radius: 5px;
	border: none;
   }
}
